$light: #fff;
$dark: #000;
$bodybackground: #fef8f4;

/* pantone palette */
$delicateblue: #c2dae8;
$pumicestone: #cac2b9;
$pineappeslice: #e7d391;
$pastelgreen: #b4d3b2;
$blissfulblue: #7198bb;
$balletslipper: #ecced5;

/* gray palette */
$lightgray: #f0f0f0;
$lightmediumgray: #dcdcdc;
$mediumgray: #a9a9a9;
$darkmediumgray: #888888;
$darkgray: #404040;
$verydarkgray: #282828;
