/* brand img */
.brand-img-container {
    padding-top: 0;
    position: sticky;
    top: 0;
    z-index: 1500;
}

.brand-img {
    border: 4px solid $darkgray;
    border-radius: 50%;
    box-shadow: 0 0 0 6px $pastelgreen;
    height: 100px;
    left: 24px;
    object-fit: cover;
    position: absolute;
    top: 20px;
    width: 100px;
}

/* header */
.header-wrapper {
    background-color: $pastelgreen;
    height: 68px;
    position: sticky;
    top: 0;
    z-index: 1000;

    @media screen and (min-width: $breakpoint-small) {
        height: auto;
    }

}

/* navigation */
button {
    background-color: $pastelgreen;
    border: 1px solid transparent;
    color: $bodybackground;
    padding: 0;

    &:active,
    &:focus {
        border: 1px solid $darkgray;
    }
}

.burger-menu-logo {
    height: 30px;
}

.navbar {
    @media screen and (min-width: $breakpoint-small) {
        display: flex;
        justify-content: flex-end;
    }
}

.navbar.open {
    background-color: $pastelgreen;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100vw;

    & .nav-item {
        display: block;
    }
}

.nav-toggle {
    height: 32px;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 32px;

    @media screen and (min-width: $breakpoint-small) {
        display: none;
    }
}

.nav-item {
    color: $bodybackground;
    display: none;
    font-size: 1.25em;
    font-weight: 500;
    padding: 0.7em 1em 0.7em 0.7em;
    text-decoration: none;
    text-align: right;

    &:hover {
        color: $darkgray;
        text-decoration: underline;
    }

    @media screen and (min-width: $breakpoint-small) {
        align-items: center;
        display: inline-flex;
        padding: 1em 1.5em 1em 0;
    }
}

/* main - general */
.main-wrapper {
    padding: 0 1.5em;

    @media screen and (min-width: $breakpoint-small) {
        padding: 2em;
    }

    @media screen and (min-width: $breakpoint-medium) {
        display: grid;
        gap: 2em;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    @media screen and (min-width: $breakpoint-xlarge) {
        padding-left: calc((100vw - 983px) / 2);
        padding-right: calc((100vw - 983px) / 2);
    }

    @media screen and (min-width: $breakpoint-xxlarge) {
        padding-left: calc((100vw - 1072px) / 2);
        padding-right: calc((100vw - 1072px) / 2);
    }
}

.main-headline {
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 1.15em;
}

.second-headline {
    font-weight: 500;
    font-size: 1.5em;
}

.main-text {
    font-size: 1.25em;
    margin-top: 0.5em;
}

.section-wrapper {
    margin-top: 7em;
}

.home-container,
.about-container,
.code-container,
.blog-container,
.publication-container,
.footer-container,
.under-construction-container {
    padding: 1em 1.5em;
}

/* home */
.section-wrapper.home {
    margin-top: 4em;

    @media screen and (min-width: $breakpoint-medium) {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        margin-top: 10em;
    }
}

.home-container {
    background-color: $delicateblue;
}

.home-img {
    @media screen and (min-width: $breakpoint-small) {
        grid-row: 3 / 6;
        margin-top: 0.8em;
        width: auto;
    }
}

.second-headline.home {
    @media screen and (min-width: $breakpoint-small) {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }
}

.main-text.home {
    @media screen and (min-width: $breakpoint-small) {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    &:nth-of-type(2) {
        @media screen and (min-width: $breakpoint-small) {
            grid-row: 4 / 5;
        }
    }
}

/* about */
#about-me {
    @media screen and (min-width: $breakpoint-medium) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
}

.section-wrapper.about {
    @media screen and (min-width: $breakpoint-medium) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        margin-top: 0;
    }
}

.about-container {
    background-color: $pineappeslice;
}

.about-img {
    @media screen and (min-width: $breakpoint-small) {
        grid-column: 2 / 3;
        grid-row: 3 / 8;
        margin-top: 0.8em;
        width: auto;
    }
}

.second-headline.about {
    @media screen and (min-width: $breakpoint-small) {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }
}

.main-text.about {
    @media screen and (min-width: $breakpoint-small) {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    &:nth-of-type(2) {
        @media screen and (min-width: $breakpoint-small) {
            grid-row: 4 / 5;
        }
    }

    &:nth-of-type(3) {
        @media screen and (min-width: $breakpoint-small) {
            grid-row: 5 / 6;
        }
    }

    &:nth-of-type(4) {
        @media screen and (min-width: $breakpoint-small) {
            grid-row: 6 / 7;
        }
    }

    &:nth-of-type(5) {
        @media screen and (min-width: $breakpoint-small) {
            grid-column: 1 / 3;
            grid-row: 7 / 8;
        }
    }
}

.main-headline.home,
.main-headline.about {
    @media screen and (min-width: $breakpoint-small) {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
}

.home-img,
.about-img {
    height: 360px;
    object-fit: cover;
    width: 100%;
}

.home-container,
.about-container {
    @media screen and (min-width: $breakpoint-small) {
        display: grid;
        gap: 0 4%;
        grid-template-columns: auto;
        grid-template-rows: auto;
        padding: 2em;
    }

    @media screen and (min-width: $breakpoint-medium) {
        display: block;
    }
}

/* code */
#code {
    @media screen and (min-width: $breakpoint-medium) {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
}

.section-wrapper.code {
    @media screen and (min-width: $breakpoint-medium) {
        grid-column: 1 / 2;
        grid-row: 4 / 7;
        margin-top: 0;
    }
}

.code-container {
    background-color: $lightmediumgray;

    @media screen and (min-width: $breakpoint-small) {
        display: grid;
        gap: 0 4%;
        grid-template-columns: repeat(auto-fill, 48%);
        grid-template-rows: auto;
    }
}

.main-headline.code {
    @media screen and (min-width: $breakpoint-small) {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
}

.overlay-container {
    box-shadow: 2px 2px 10px 4px $darkmediumgray;
    position: relative;

    &:hover .overlay-textcontainer {
        height: 100%;
    }
}

div.overlay-container {
    &:not(:nth-of-type(1)) {
        margin-top: 2em;
    }

    &:nth-of-type(2) {
        @media screen and (min-width: $breakpoint-small) {
            margin-top: 0;
        }
    }
}

.overlay-img {
    display: block;
    width: 100%;
}

.overlay-textcontainer {
    background-color: rgba(254, 248, 244, 0.8);
    bottom: 0;
    height: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    transition: 0.5s ease;
    width: 100%;
}

.overlay-text {
    font-size: 1.5em;
    left: 50%;
    overflow: hidden;
    padding: 0 0.6em;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

/* writing - blog and pub */
.main-text.blog,
.main-text.publication {
    font-size: 1.5em;
}

.wobble-link {
    align-items: center;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.hr-line {
    border: 0;
    border-top: 1px solid $verydarkgray;
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0;
}

.arrow-right-svg {
    height: 28px;
}

/* writing - blog */
#blog {
    @media screen and (min-width: $breakpoint-medium) {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
}

.section-wrapper.blog {
    @media screen and (min-width: $breakpoint-medium) {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }
}

.blog-container {
    background-color: $balletslipper;
}

/* writing - publication */
#publications {
    @media screen and (min-width: $breakpoint-medium) {
        grid-column: 2 / 3;
        grid-row: 5 / 6;
    }
}

.section-wrapper.publication {
    @media screen and (min-width: $breakpoint-medium) {
        grid-column: 2 / 3;
        grid-row: 6 / 7;
        margin-top: 0;
    }
}

.publication-container {
    background-color: $blissfulblue;
}

/* under construction */
.under-construction-container {
    background-color: $pineappeslice;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.under-construction-img {
    width: 100%;

    @media screen and (min-width: $breakpoint-small) {
        width: auto;
    }
}

/* footer scroll to top */
.footer-top-link {
    margin: 1.25em 0;
    text-align: right;

    @media screen and (min-width: $breakpoint-medium) {
        grid-column: 1 / 3;
        grid-row: 7 / 8;
    }
}

a.scroll-to-top {
    padding: 0.5em;

    @media screen and (min-width: $breakpoint-small) {
        position: relative;
        top: 40px;
    }
}

.arrow-up-svg {
    height: 17px;
    width: 25px;
}

/* footer */
.footer-container {
    background-color: $pumicestone;

    @media screen and (min-width: $breakpoint-small) {
        text-align: center;
    }
}

.main-headline.footer {
    margin-bottom: auto;
    font-size: 1.25em;
    pointer-events: none;
}

.footer-svgs {
    align-items: center;
    display: flex;

    @media screen and (min-width: $breakpoint-small) {
        display: block;
        margin-top: 1em;
    }
}

.footer-link {
    display: inline-block;
    margin: 0 1.25em 0 0;
}

.footer-link:last-child {
    @media screen and (min-width: $breakpoint-small) {
        margin-right: 0;
    }
}

.github-svg,
.codepen-svg,
.twitter-svg,
.instagram-svg,
.linkedin-svg,
.facebook-svg {
    height: 42px;
}

.footer-copyright {
    @media screen and (min-width: $breakpoint-small) {
        display: block;
        margin-top: 1em;
    }
}
