/* blog quote */
.blg-quote-container {
    margin-left: -20px;
    padding-left: 24px;
    box-shadow: inset 3px 0 0 0 $darkgray;
    margin: 2.5em 0;
}
.blg-quote {
    font-size: 1.25em;
    font-style: italic;
}

/* blog wrapper */
.blg-wrapper.full-article {
    padding: 0 1em;
}

.blg-wrapper,
.blg-wrapper.full-article {
    margin-top: 40px;

    @media screen and (min-width: $breakpoint-xsmall) {
        padding: 0 2em;
    }

    @media screen and (min-width: $breakpoint-small) {
        margin-top: 74px;
        padding: 0 3em;
    }

    @media screen and (min-width: $breakpoint-medium) {
        display: flex;
        flex-wrap: wrap;
        margin-top: 0;
    }

    @media screen and (min-width: $breakpoint-xlarge) {
        padding-left: calc((100vw - 1072px) / 2);
        padding-right: calc((100vw - 1072px) / 2);
    }
}

/* blog author */
.blg-author-container {
    align-items: center;
    display: flex;
}

.blg-author-img {
    height: 60px;
}

.blg-name-date-container {
    font-size: 1em;
    margin-left: 0.55em;
}

.blg-author-name {
    display: block;
    font-weight: 500;
}

/* blog entry */
.blg-entry-wrapper {
    @media screen and (min-width: $breakpoint-medium) {
        flex-basis: 0;
        flex-grow: 999;
        margin-left: 2em;
        margin-top: 2em;
        min-width: 40%;
    }
}

.blg-entry-container {
    /* background-color: $pineappeslice; */
    margin-top: 2em;
    /* padding: 1em 1.5em; */

    @media screen and (min-width: $breakpoint-medium) {
        margin-top: 0;
    }

    &.full-article {
        background-color: transparent;
        padding: 0;
    }

    &.hidden {
        display: none;
    }
}

.blg-entry-snippet-container {
    background-color: $pineappeslice;
    padding: 1em 1.5em;
}

.blg-article-snippet-link {
    text-decoration: none;
}

.blg-link-full-article:hover {
    background-color: #eef2f7;
    text-decoration: none;
}

.blg-hero-img {
    height: 200px;
    object-fit: cover;
    width: 100%;

    @media screen and (min-width: $breakpoint-small) {
        height: 300px;
    }

    &.full-article {
        border: 1px solid $darkgray;

        @media screen and (min-width: $breakpoint-small) {
            height: 300px;
        }
    }
}

.blg-main-headline {
    font-family: "Bitter", serif;
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 0.65em;

    @media screen and (min-width: $breakpoint-medium) {
        font-size: 2.5em;
    }
}

.blg-intro,
.blg-main-text {
    font-size: 1.25em;
    margin-top: 0.75em;
}

/* blog text section */
.blg-second-img-wrapper {
    margin-top: 1em;
    text-align: center;
}

.blg-second-headline {
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 20px;
}

.blg-second-img {
    width: 50%;

    &.full-article {
        border: 1px solid $darkgray;
    }
}

.blg-img-caption {
    display: block;
    font-size: 1.25em;
    font-style: italic;
}

.blg-seperator-container {
    margin: 2em 0;
    text-align: center;
}

.blg-seperator-svg {
    color: $darkgray;
    height: 1.5em;
    margin: 0 0.3em;
}

.blg-tag-container {
    margin-top: 6px;
}

.blg-tag-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.blg-tag {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-top: 12px;
    margin-right: 16px;
}

.blg-tag-svg {
    color: $darkgray;
    height: 1.5em;
    margin-right: 4px;
}