/* blog quote */
.blg-quote-container {
    margin-left: -20px;
    padding-left: 24px;
    box-shadow: inset 3px 0 0 0 $verydarkgray;
    margin: 2.5em 0;
}
.blg-quote {
    font-size: 1.25em;
    font-style: italic;
}

/* blog wrapper */
.blg-wrapper {
    margin-top: 4.5em;
    padding: 0 1em;

    @media screen and (min-width: $breakpoint-xsmall) {
        padding: 2em;
    }

    @media screen and (min-width: $breakpoint-small) {
        padding: 3em;
    }

    @media screen and (min-width: $breakpoint-medium) {
        display: flex;
        flex-wrap: wrap;
        margin-top: 0;
    }

    @media screen and (min-width: $breakpoint-xlarge) {
        padding-left: calc((100vw - 1072px) / 2);
        padding-right: calc((100vw - 1072px) / 2);
    }
}

/* blog sidenav */
.blg-sidenav-wrapper {
    background-color: $paleorange;
    box-shadow: 0 0 10px 0 $mediumgray;
    color: $verydarkgray;
    overflow-y: auto;
    padding: 2em;
    width: 100%;

      @media screen and (min-width: $breakpoint-medium) {
        --offset: 9em;
        align-self: start;
        flex-basis: 300px;
        flex-grow: 1;
        position: sticky;
        top: var(--offset);
    }
}

.blg-sidenav-headline {
    font-size: 1.25em;
    font-weight: 500;
}

/* sidenav posts container */
.blg-sidenav-posts-container {
    margin-top: 6px;
}

.blg-sidenav-link {
    display: inline-block;
    margin-right: 16px;

    &:hover {
        background-color: #eef2f7;
        text-decoration: none;
    }
}

/* sidenav back btn container */
.blg-sidenav-back-btn {
    margin-top: 16px;
}

.blg-sidenav-back-btn-container {
    align-items: center;
    background: $blissfulbluelight;
    border: 2px solid $blissfulbluemedium;
    display: flex;
    height: 40px;
    position: relative;
    width: 100%;
}

.blg-sidenav-back-btn-arrow {
    height: 22px;
    left: 9px;
    position: absolute;
    top: 7px;
    width: 22px;
}

.blg-sidenav-back-btn-text {
    margin-left: 40px;
}

/* sidenav tags container */
.blg-sidenav-tag-container {
    margin-top: 12px;
}

.blg-sidenav-tag-link {
    margin-bottom: 8px;
    margin-right: 6px;
    text-decoration: none;
}

.blg-sidenav-tag {
    padding: 4px;
    font-size: 12px;
}

.coding {
    background-color: $blissfulblue;
}

.life {
    background-color: $pastelgreen;
}

.travel {
    background-color: $pineappeslice;
}

.cats {
    background-color: $pumicestone;
}

/* blog author */
.blg-author-container {
    align-items: center;
    display: flex;
}

.blg-author-img {
    height: 60px;
}

.blg-name-date-container {
    font-size: 1em;
    margin-left: 0.55em;
}

.blg-author-name {
    display: block;
    font-weight: 500;
}

/* blog entry */
.blg-entry-wrapper {
    @media screen and (min-width: $breakpoint-medium) {
        flex-basis: 0;
        flex-grow: 999;
        margin-left: 2em;
        margin-top: 2em;
        min-width: 40%;
    }
}

.blg-entry-container {
    background-color: $pineappeslice;
    margin-top: 2em;
    padding: 1em 1.5em;

    @media screen and (min-width: $breakpoint-medium) {
        margin-top: 0;
    }

    &.full-article {
        background-color: transparent;
        padding: 0;

    }
}

.blg-article-snippet-link {
    text-decoration: none;
}

.blg-link-full-article:hover {
    background-color: #eef2f7;
    text-decoration: none;
}

.blg-hero-img {
    height: 300px;
    object-fit: cover;
    width: 100%;

    &.full-article {
        border: 1px solid $verydarkgray;
    }
}

.blg-main-headline {
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 0.65em;

    @media screen and (min-width: $breakpoint-medium) {
        font-size: 2.5em;
    }
}

.blg-intro,
.blg-main-text {
    font-size: 1.25em;
    margin-top: 0.75em;
}

/* blog text section */
.blg-second-img-wrapper {
    margin-top: 1em;
    text-align: center;
}

.blg-second-headline {
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 42px;
}

.blg-second-img {
    width: 50%;

    &.full-article {
        border: 1px solid $verydarkgray;
    }
}

.blg-img-caption {
    display: block;
    font-size: 1.25em;
    font-style: italic;
}

.blg-seperator-container {
    margin: 2em 0;
    text-align: center;
}

.blg-seperator-svg {
    height: 1.5em;
    margin: 0 0.3em;
}