/* footer scroll to top */
.footer-top-link {
    bottom: 28px;
    display: none;
    position: fixed;
    right: 28px;

    @media screen and (min-width: $breakpoint-small-medium) {
        display: inline-block;
    }
}

a.scroll-to-top {
    align-items: center;
    background-color: $blissfulblue85;
    border: 1px solid $blissfulblue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    padding: 0.5em;
}

.arrow-up-svg {
    height: 24px;
    width: 24px;
}

/* footer */
.footer-container {
    background-color: $pumicestone;

    @media screen and (min-width: $breakpoint-small) {
        text-align: center;
    }
}

.main-headline.footer {
    margin-bottom: auto;
    font-size: 1.25em;
    font-weight: 500;
    pointer-events: none;
}

.footer-svgs {
    align-items: center;
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: $breakpoint-small) {
        display: block;
        margin-top: 1em;
    }
}

.footer-link {
    display: inline-block;
    margin: 0 1.25em 0 0;
}

.footer-link:last-child {
    @media screen and (min-width: $breakpoint-small) {
        margin-right: 0;
    }
}

.github-svg,
.codepen-svg,
.twitter-svg,
.instagram-svg,
.linkedin-svg,
.facebook-svg {
    height: 42px;
}

.footer-copyright {
    @media screen and (min-width: $breakpoint-small) {
        display: block;
        margin-top: 1em;
    }
}