
/* header */
.header-wrapper {
    background-color: $delicateblue;
    height: 68px;
    position: sticky;
    padding: 1em 1.5em;
    top: 0;
    z-index: 1000;

    @media screen and (min-width: $breakpoint-small) {
        display: flex;
        justify-content: space-between;
    }

    @media screen and (min-width: $breakpoint-xlarge) {
        padding-left: calc((100vw - 1072px) / 2);
        padding-right: calc((100vw - 1072px) / 2);

    }
}

/* navigation */
button {
    background-color: $delicateblue;
    border: 1px solid transparent;
    padding: 0;

    &:active,
    &:focus {
        border: 1px solid $verydarkgray;
    }
}

.burger-menu-logo {
    height: 30px;
}

.navbar {
    @media screen and (min-width: $breakpoint-small-medium) {
        display: flex;
        justify-content: flex-end;
        width: 100vw;
    }
}

.nav-item {
    display: none;
    font-family: "Bitter", serif;
    font-size: 1.25em;
    font-weight: 500;
    padding: 10px 14px;
    text-align: right;
    text-decoration: none;

    @media screen and (min-width: $breakpoint-small-medium) {
        align-items: center;
        display: inline-flex;
    }
    &:last-of-type {
        margin-top: 70px;
        @media screen and (min-width: $breakpoint-small-medium) {
            margin-left: 70px;
            margin-top: 0;
        }
    }

    &:hover {
        background-color: $blissfulblue;
        border-radius: 4px;
        color: $paleorange;
        padding: 10px 14px;
    }
}

.navbar.toggle {
    background-color: $delicateblue;
    padding: 1.5em;
    position: absolute;
    top: 60px;
    right: 0;
    width: 65vw;

    & .nav-item {
        display: block;
    }

    @media screen and (min-width: $breakpoint-small-medium) {
        background-color: $delicateblue;
        padding: 0;
        position: initial;
        top: 0;
        width: 100vw;
        & .nav-item {
            display: inline-flex;
        }
    }

}

.navbutton {
    height: 32px;
    position: absolute;
    right: 22px;
    top: 20px;
    width: 32px;

    @media screen and (min-width: $breakpoint-small-medium) {
        display: none;
    }
}