/* tag outer container */
.tagitems-container {
    margin-top: 1.5em;
    padding: 0 1.5em;

    @media screen and (min-width: $breakpoint-xsmall) {
        padding: 0;
    }

    @media screen and (min-width: $breakpoint-medium) {
        margin-top: 0;
        margin-bottom: 12px;
    }
}

.tagitems-headline {
    display: flex;
    font-family: "Bitter", serif;
    font-size: 1.25em;
    font-weight: 500;
    margin-right: 12px;
}

/* tags wrapper */
.tagitems-wrapper {
    display: flex;
    flex-wrap: wrap;
}

/* taglink */
.taglink {
    background-color: $pineappeslice65;
    border: 1px solid $pineappeslice50darken;
    border-radius: 4px;
    color: $darkgray;
    font-size: 16px;
    margin: 8px 8px 0 0;
    padding: 6px 8px;
    text-decoration: none;

    &.selected {
        background-color: $pineappeslice50darken;
        color: $pineappeslice85;

        &:hover {
            background-color: $pineappeslice50darken;
            border: 1px solid $pineappeslice50darken;
            color: $pineappeslice85;
        }
    }

    &:hover {
        background-color: $pineappeslice;
    }
}

/* select all / unselect all button */
.tagselectbtn-wrapper {
    margin-top: 16px;
}

.tagselect {
    background-color: $pineappeslice50darken;
    color: $pineappeslice85;
    border: 1px solid $pineappeslice50darken;
    cursor: pointer;
    font-size: 16px;
    margin-right: 8px;
    padding: 10px;
    transition-duration: 0.2s;

    &:hover {
        box-shadow: 0 4px 8px 0 $darkgray60;
    }
}
