$white: #fff;
$black: #000;
$paleorange: #fef8f4;
$dirtypaleorange: #e2ded9;

/* pantone palette */
$delicateblue: #c2dae8;
$pumicestone: #cac2b9;
$pineappeslice: #e7d391;
$pastelgreen: #b4d3b2;
$pastelgreenlight: #f0f6ef;
$blissfulblue: #7198bb;
$blissfulbluelight: #eef2f7;
$blissfulbluemedium: #e3e8ef;
$balletslipper: #ecced5;

/* gray palette */
$lightgray: #f0f0f0;
$lightmediumgray: #dcdcdc;
$mediumgray: #a9a9a9;
$darkmediumgray: #888888;
$darkgray: #404040;
$verydarkgray: #282828;

/* error colors */
$errorbackground: #f8d7da;
$errorcolor: #721c24;
