
.overlay-container {
    box-shadow: 0 0 10px 0 $darkgray60;
    position: relative;

    &:hover .overlay-textcontainer {
        height: 100%;
    }
}

div.overlay-container {

    &:not(:nth-of-type(1)) {
        margin-top: 2em;
    }

    &:nth-of-type(2) {
        @media screen and (min-width: $breakpoint-small) {
            margin-top: 0;
        }

        @media screen and (min-width: $breakpoint-medium) {
            margin-top: 2em;
        }
    }
}

.overlay-img {
    display: block;
    width: 100%;
}

.overlay-textcontainer {
    background-color: rgba($paleorange, 0.8);
    bottom: 0;
    height: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    transition: 0.5s ease;
    width: 100%;
}

.overlay-text {
    font-size: 1em;
    left: 50%;
    overflow: hidden;
    padding: 0 0.6em;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    @media screen and (min-width: $breakpoint-xsmall) {
        font-size: 1.25em;
    }
}