@import "./base/base";
@import "./components/components";

/* RESETS and general styles */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-color: $paleorange;
    color: $darkgray;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.45;
    position: relative;
}

a {
    color: inherit;
}

a.link-style {
    font-family: "Bitter", serif;
    text-decoration: underline $darkgray;

    &:hover {
        background-color: $darkgray95;
        text-decoration: none;
    }
}

.hr-line {
    border: 0;
    border-top: 1px solid $darkgray;
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0;
}

/* main - general */
.main-wrapper {
    margin-bottom: 62px;

    @media screen and (min-width: $breakpoint-xsmall) {
        padding: 0 2em;
    }

    @media screen and (min-width: $breakpoint-small) {
        padding: 0 3em;
    }

    @media screen and (min-width: $breakpoint-medium) {
        display: grid;
        gap: 0 1.5em;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    @media screen and (min-width: $breakpoint-xlarge) {
        padding-left: calc((100vw - 983px) / 2);
        padding-right: calc((100vw - 983px) / 2);
    }

    @media screen and (min-width: $breakpoint-xlarge) {
        padding-left: calc((100vw - 1072px) / 2);
        padding-right: calc((100vw - 1072px) / 2);
    }
}

.main-headline {
    font-family: "Bitter", serif;
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 1.15em;
}

.second-headline {
    font-family: "Bitter", serif;
    font-size: 1.5em;
    font-weight: 500;
}

.main-text {
    font-size: 1.25em;
    margin-top: 0.5em;
}

.arrow-right-svg {
    color: $darkgray;
    flex: 0 0 30px;
    margin-left: 8px;

    &.blog {
        flex: 0 0 30px;
    }
}

/* prefers color scheme - ONLY TEST DO NOT KEEP LIKE THIS! */

  body {
    // transition of mode change
    --duration: 0.5s;
    --timing: ease;

    // light when OS light mode is set
    --bkg-color: $paleorange;
    --text-color: $darkgray;

    color: var(--text-color);
    background-color: var(--bkg-color);
    transition: color var(--duration) var(--timing), background-color var(--duration) var(--timing);

    // dark when OS light mode is set
    &.dark-theme {
      --text-color: #282828;
      --bkg-color: #9d5d32;
    }

    &.dark-theme img {
      filter: brightness(.8) contrast(1.2);
    }
  }

  @media (prefers-color-scheme: dark) {

    body {
      // dark when OS dark mode is set
      &.dark-theme {
          --text-color: yellow;
          --bkg-color: purple;
      }

      // light when OS dark mode is set
      &.light-theme {
        --text-color: purple;
        --bkg-color: yellow;
      }
    }
  }

  h1,
  p {
    color: var(--text-color);
  }


  /* TO CHECK*/
  /* as root or better (?) as style tag in html head: <meta name="color-scheme" content="dark light"> - avoid FOIT*/
  /*:root {
  color-scheme: light dark;
  }*/