@import "./base/base";
@import "./components/components";

/* RESETS and general styles */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-color: $paleorange;
    color: $verydarkgray;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.45;
    position: relative;
}

a {
    color: inherit;
}

a.link-style {
    font-family: "Bitter", serif;
    text-decoration: underline $darkgray;

    &:hover {
        background-color: $lightgray;
        text-decoration: none;
    }
}

.hr-line {
    border: 0;
    border-top: 1px solid $verydarkgray;
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0;
}

/* main - general */
.main-wrapper {
    margin-bottom: 62px;
    /* padding: 0 2em; */

    @media screen and (min-width: $breakpoint-xsmall) {
        padding: 2em;
    }

    @media screen and (min-width: $breakpoint-small) {
        padding: 3em;
    }

    @media screen and (min-width: $breakpoint-medium) {
        display: grid;
        gap: 1.5em;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    @media screen and (min-width: $breakpoint-xlarge) {
        padding-left: calc((100vw - 983px) / 2);
        padding-right: calc((100vw - 983px) / 2);
    }

    @media screen and (min-width: $breakpoint-xlarge) {
        padding-left: calc((100vw - 1072px) / 2);
        padding-right: calc((100vw - 1072px) / 2);
    }
}

.main-headline {
    font-family: "Bitter", serif;
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 1.15em;
}

.second-headline {
    font-family: "Bitter", serif;
    font-size: 1.5em;
    font-weight: 500;
}

.main-text {
    font-size: 1.25em;
    margin-top: 0.5em;
}

.section-wrapper {
    margin-top: 7em;
}

.arrow-right-svg {
    height: 28px;

    &.blog {
        height: 24px;
    }
}